.main-content-com {
  min-height: 100vh;
  width: 100%;
  background-color: white;
}

.profile-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 12px 24px;
  border-bottom: 1px solid #9d9d9d;
}

.profile-image-com {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid #f4f7f4;
  transition: transform 0.2s ease;
}

.grd {
  margin-bottom: 1rem;
}

.profile-image-com:hover {
  transform: scale(1.05);
}

.bell-icon {
  font-size: 22px;
  margin-right: 12px;
}

.divider {
  color: #080808;
  margin: 0 10px;
}

.content-area h3 {
  margin-top: 0;
  color: #0d0e0d;
}

/* button {
  background-color: #81e697;
  color: black;
  font-weight: bold;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Prompt", sans-serif;
  font-size: 16px;
  transition: transform 0.2s, box-shadow 0.2s;
}

button:hover {
  background-color: #05f339;
  color: black;
  transform: scale(1.03);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} */

.container-content {
  display: flex;
  flex-direction: row;
  height: max-content;
}

.recommentfreind {
  width: 30%;
  text-align: center;
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  margin: 20px auto;
  max-width: 900px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  margin-right: 1rem;
}

.friend-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 1rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.friend-image {
  left: 50%;
  margin: 1rem;
}
.ee{
  color: transparent;
}
.header-friend-card {
  display: flex;
  justify-content: space-between;
  /* ดันให้รูปไปซ้าย ปุ่มไปขวา */
  align-items: center;
  width: 100%;

  position: relative;
}

.friend-card:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.filter-button {
  margin-top: 1rem;
  padding: 10px 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-left: 1rem;
  gap: 6px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}
.filter-button.active {
  background-color: #0056b3;
}

.filter-button:hover {
  background-color: #0056b3;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
.filter-container{
  display: flex;
  justify-content: start;
  flex-direction: row;
}