.container {
    max-width: 960px;
    margin: 0 auto;
}
.home-bg {
    background: url(https://media.istockphoto.com/id/1198926321/th/%E0%B8%A3%E0%B8%B9%E0%B8%9B%E0%B8%96%E0%B9%88%E0%B8%B2%E0%B8%A2/%E0%B8%84%E0%B8%A5%E0%B8%B1%E0%B8%87%E0%B8%AA%E0%B8%B4%E0%B8%99%E0%B8%84%E0%B9%89%E0%B8%B2%E0%B8%AB%E0%B8%B8%E0%B9%88%E0%B8%99%E0%B8%A2%E0%B8%99%E0%B8%95%E0%B9%8C-android.jpg?s=2048x2048&w=is&k=20&c=MmrAUaG6ccvemTSldjD2A1EyJhp7loYklD9HbEwGQ6c=) no-repeat;
    background-size: contain;
}
.home-con {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    color: aliceblue;
}
.home-text {
    background-color: antiquewhite;
    background: transparent 1000%;
}