.container {
    max-width: 1600px;
    margin: 0 auto;
}
.home-bg {
    background: url(https://i.pinimg.com/originals/4e/d9/3a/4ed93a925416e114dd4f9657e9121c1b.jpg) no-repeat;
    background-size: cover;
    background-size: 100% 100%;
}
.home-con {
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    height: 100vh;
    margin-top: -5rem;
}
