.navbar-container {
  background: rgb(255, 255, 255);
  display: flex;
  width: 20vh;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  align-items: center;
  border-right: 1px solid #ccc;
  top: 0;
}

/* .dark-mode .navbar-con  {
  background: rgb(255, 255, 255);
  display: flex;
  width: 18vh;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  align-items: center;
  border-right: 1px solid #000;
  top: 0;
} */

.logo-con {
  font-size: 20px;
  margin: 1rem;
  color: black;
}

.dark-mode .logo-con h3 {
  font-size: 20px;
  margin: 1rem;
  color: #f5f5f5;
}

.icon-nav svg {
  font-size: 20px;
  margin: 1rem;
  color: black;
}

.dark-mode .icon-nav {
  font-size: 20px;
  color: #f5f5f5;
}

.dark-mode .text-nav {
  color: #f5f5f5;
}

.menu-bar {
  display: flex;
  flex-direction: column;
  /* ทำให้เมนูแสดงในแนวตั้ง */
}

.menu-bar li {
  padding: 0 1rem;
  margin: 1rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-bar li a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

.menu-bar li a:hover {
  color: #333;
  /* เปลี่ยนสีเมื่อ hover */
}

.dark-mode .menu-bar li a:hover {
  color: #706e6e;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar-con {
    width: 28%;
    /* เปลี่ยนขนาด navbar ให้เต็มหน้าจอมือถือ */
  }

  .mobile-menu {
    display: block;
    margin-left: 40%;

    font-size: 1.8rem;

  }

  .menu-bar {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: -100%;
    /* ซ่อนเมนู */
    transition: left 0.3s ease;
    align-items: center;
    background-color: #333;
    /* เพิ่มพื้นหลังเมนู */
    z-index: 1;
  }

  .menu-bar li {
    padding: 1rem;
    width: 100%;
  }

  .menu.active {
    left: 0;
    opacity: 1;
    z-index: 1;
    transition: left 0.3s ease;
  }

  .menu-link a,
  .menu-link .logout-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s ease;
  }

  .menu-link a:hover,
  .menu-link .logout-link:hover {
    background-color: #444;
    border-radius: 5px;
  }

  .menu-link svg {
    color: white;
    /* เปลี่ยนสีของไอคอน */
    font-size: 2rem;
    /* ปรับขนาดไอคอน */
  }
}

.menu-link {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  transition: all 0.3s ease;
  cursor: pointer;
  width: 100%;
  border-radius: 12px;
}

.menu-link:hover {
  background: rgb(0, 0, 0, 0.1);
  border-radius: 12px;
}

.dark-mode .menu-link:hover {
  background: #4d4d4d;
  border-radius: 12px;
}

.menu-link a,
.menu-link .logout-link {
  flex: 1;
  text-decoration: none;
  color: inherit;
}

.menu-link i {
  margin-right: 12px;
  width: 20px;
  transition: color 0.3s ease;
}

.logout-link:hover {
  background: rgb(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 1rem 0;
}

.dark-mode .logout-link:hover {
  background: #767474;
  border-radius: 20px;
  padding: 1rem 0;
}

.menu-link.active {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.dark-mode .menu-link.active {
  background: #767474;
  border-radius: 12px;
}

.menu-link.active a,
.menu-link.active i {
  color: #007bff;
  /* หรือสีที่ต้องการ */
}


/* เปลี่ยนสีไอคอนและข้อความเมื่อ hover */
/* .menu-link:hover a,
.menu-link:hover .logout-link,
.menu-link:hover i {
  color: #007bff; 
} */